certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.7
Flask-PyMongo==2.3.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
marshmallow==2.16.3
nltk==3.4.5
numpy==1.18.1
praw==6.5.1
prawcore==1.0.1
pymongo==3.10.1
requests==2.23.0
six==1.14.0
update-checker==0.16
urllib3==1.25.8
websocket-client==0.57.0
Werkzeug==1.0.0
