APScheduler==3.6.3
blis==0.4.1
boto==2.49.0
boto3==1.12.39
botocore==1.15.39
catalogue==1.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
coverage==5.0.4
cymem==2.0.3
decorator==4.4.2
dnspython==1.16.0
docutils==0.15.2
emoji==0.5.4
en-core-web-sm==2.2.0
Flask==1.1.1
Flask-Cors==3.0.7
Flask-PyMongo==2.3.0
graphviz==0.13.2
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
MarkupSafe==1.1.1
marshmallow==2.16.3
murmurhash==1.0.2
networkx==2.4
nltk==3.4.5
numpy==1.18.1
plac==1.1.3
praw==6.5.1
prawcore==1.0.1
preshed==3.0.2
pymongo==3.10.1
pytextrank==2.0.1
python-dateutil==2.8.1
pytz==2019.3
redis==3.4.1
regex==2020.4.4
requests==2.23.0
rq==1.2.2
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
smart-open==1.11.1
spacy==2.2.4
srsly==1.0.2
thinc==7.4.0
tqdm==4.45.0
tzlocal==2.0.0
update-checker==0.16
urllib3==1.25.8
wasabi==0.6.0
websocket-client==0.57.0
Werkzeug==1.0.0
zipp==3.1.0
